@model CommentViewModel

@{
    ViewData["Title"] = "ثبت نظر";
}
<div class="col-12 row">
    <div class="card-body p-0 ">
        <!-- Nested Row within Card Body -->
        <div class="row flex-row justify-content-center">
            <div class="col-lg-8">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">ثبت نظر</h1>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <form class="user" asp-controller="Customer" asp-action="AddComment" method="post">
                        <input hidden asp-for=ExpertServiceId value=@Model.ExpertServiceId />
                        <input hidden asp-for=CustomerId value=@Model.CustomerId />
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user input" asp-for="Title" placeholder=" ">
                                <div class="cut"></div>
                                <label asp-for=Title class="placeholder"></label>
                                <span asp-validation-for=Title class="text-danger"></span>
                            </div>
                            <div class="col-sm-6">
                                <textarea class="form-control form-control-user input" asp-for=Text placeholder=" "></textarea>
                                <div class="cut"></div>
                                <label class="placeholder">@Html.DisplayNameFor(model=>model.Text)</label>
                                <span asp-validation-for=Text class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="container col-sm-6">
                                <button type="submit" class="btn btn-primary btn-user btn-block mb-3 mb-sm-0">
                                    ثبت
                                </button>
                                <a class="btn btn-danger btn-user btn-block" asp-controller="Customer" asp-action="PastWorks">انصراف</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>