@model UserDetailViewModel
<base href="~/" />

<a class="nav-link dropdown-toggle" id="userDropdown" role="button"
   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    @if (Model.ImageUrl == null)
    {
        <img class="img-profile rounded-circle" src="~/img/undraw_profile.svg">
    }
    else
    {
        <img class="img-profile rounded-circle" src="@Model.ImageUrl">
    }
    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Model.UserName</span>
</a>
<!-- Dropdown - User Information -->
<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
     aria-labelledby="userDropdown">
    @if (Model.Roles.Contains(RoleEnum.expert))
    {
    <a class="dropdown-item" asp-area="" asp-controller="Expert" asp-action="Index">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        پروفایل
    </a>
    }
    else
    {
    <a class="dropdown-item" asp-area="" asp-controller="Customer" asp-action="Index">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        پروفایل
    </a>
    }
    <a class="dropdown-item" href="#">
        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
        تنظیمات
    </a>
    <a class="dropdown-item" href="#">
        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
        فعالیت ها
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        خروج
    </a>
</div>