<!-- Heading -->
<div class="sidebar-heading">
    داشبورد متخصصین
</div>
<li class="nav-item">
    <a class="nav-link"  asp-area="" asp-controller="Expert" asp-action="Index">
        <i class="fas fa-fw fa-user"></i>
        <span>اطلاعات کاربری</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link"  asp-area="" asp-controller="Expert" asp-action="ExpertService">
        <i class="fas fa-fw fa-cog"></i>
        <span>تخصص ها</span>
    </a>
</li>
<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
       aria-expanded="true" aria-controls="collapseOne">
        <i class="fas fa-fw fa-cog"></i>
        <span>سفارشات و پیشنهادات</span>
    </a>
    <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" asp-area="" asp-controller="Expert" asp-action="Orders">سفارشات مشتریان</a>
            <a class="collapse-item" asp-area="" asp-controller="Expert" asp-action="Tenders">پیشنهادات باز</a>
            <a class="collapse-item" asp-area="" asp-controller="Expert" asp-action="PastWorks">سابقه کارها</a>
        </div>
    </div>
</li>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
       aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>بازخوردها</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" asp-area="" asp-controller="Expert" asp-action="Comments">نظرات کاربران</a>
            <a class="collapse-item" asp-area="" asp-controller="Expert" asp-action="Points">امتیازات</a>
            <a class="collapse-item" asp-area="" asp-controller="Expert" asp-action="Admin">ارتباط با ادمین</a>
        </div>
    </div>
</li>